$background: #2F647D;
$white: white;
$button: rgb(36, 54, 63);
$error: rgb(119, 1, 1);
$error-back: rgb(51, 1, 1);
$form-back: rgb(34, 47, 53);;


*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    background: $background;
}

.form-create{
    color: $white;
    width: 80%;
    margin: auto;
    text-align: center;
    background: $form-back;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 20px;
    .new_user, .edit_user{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        margin: 5vh auto;
        background: $background;
        padding: 20px;
        border-radius: 20px;
        input{
            margin: 10px 0;
        }
        input[type=text], input[type=email], input[type=password]{
            border-radius: 10px;
            padding: 10px 20px;
            border: 0;
            border: 2px solid black;
            text-align: center;
            width: 40vh;
        }

        input[type=submit]{
            cursor: pointer;
            padding: 10px;
            width: 10vh;
            color:$white;
            background: $button;
            border-radius: 20px;
            transition: 1s;
            &:hover{
                background: #2F647D;
                transition: 1s;
            }
        }
        

    }
}


.errors{
    background: $error-back;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    ul{
        padding: 10px;
        margin:auto;
    }
    h2{
        text-align: center;
    }
}